{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/media/font/fontello.css" type="text/css">
    <style>
         nav a {
           text-decoration: none;
           color: white;
           padding-right: 40px;


         }

         th {
            text-align: left;
         }
         td {
            text-align: left;

         }
         .icon-back{
               font-size: 30px;


         }

    </style>
</head>
<body style=" background-color: #dce6f5; margin: 0;" >

<nav style=" width: 100%; background: #466EF2 ; padding-top: 20px; padding-bottom: 20px; text-align: right; padding">

<h1 style="color: white; text-align: center;">Employee Management</h1>
    <a href="{% url 'employee' %}"class="icon-back" >Back </a>


</nav>

<section style=" width: 100%; background: #84aae3; padding-top: 5px; padding-bottom: 5px; text-align: center; ">
    <img src="/media/images/update.png" alt="img" height="350px;" width="40%">


</section>




<div style="background-image: url('{% static 'signin.jpg' %}');background-repeat: no-repeat;background-size: cover; height: 600px;">
    <br>
    <br>
    <form action="" method="post"  enctype="multipart/form-data"  style="background-color: rgb(222, 226, 230); text-align: center; padding-top: 5%;margin-left: 35%;margin-right: 35%;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);">
       {% csrf_token %}
        <h3>Add Employee</h3>

       <table style=" margin: auto;">


              <tr> <th >Name</th></tr>
              <tr><td>{{form.employee_name}}</td></tr>
              <tr> <th >Phone</th></tr>
              <tr><td>{{form.phone}}</td></tr>
              <tr> <th >Email</th></tr>
              <tr><td>{{form.email}}</td></tr>
              <tr> <th >Photo</th></tr>
              <tr><td>{{form.photo}}</td></tr>
              <tr> <th >Designation</th></tr>
              <tr><td>{{form.designation}}</td></tr>
               <tr> <th >Qualification</th></tr>
              <tr><td>{{form.qualification}}</td></tr>
               <tr> <th >Address</th></tr>
              <tr><td>{{form.address}}</td></tr>
              <tr> <th >Salary</th></tr>
              <tr><td>{{form.salary}}</td></tr>
              <tr> <th >Remarks</th></tr>
              <tr><td>{{form.remarks}}</td></tr>
              <tr> <th >Status: {{form.Status}}</th></tr>





       </table>

    <input type="submit" value="Submit" style="margin-top: 5%;margin-bottom: 5%;">


   </form>
    <footer>
    <div style="background: #84aae3; text-align: center;color: white; margin-top: 2%; padding-top: 1%;padding-bottom: 1%;">
        <h3 >2023 All Rights Received</h3>
    </div>
</footer>
</div>