{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/media/font/fontello.css" type="text/css">
    <style>
        td {
           padding-left: 20%;
        }
        table tr {

              height: 40px;
        }
        .icon-back {
             font-size: 30px;
             color: white;
             text-decoration: none;
             margin-right: 30px;
        }
    </style>
</head>
<body style=" background-color: #dce6f5; margin: 0;">
<nav style=" width: 100%; background: #466EF2; padding-top: 20px; padding-bottom: 10px; text-align: right; padding">

<h1 style="color: white; text-align: center;">Employee Management</h1>
    <a href="{% url 'employee' %}"class="icon-back" >Back </a>


</nav>

<section style=" width: 100%; background: #84aae3; padding-top: 5px; padding-bottom: 5px; text-align: center; ">
    <img src="/media/images/emp3.png" alt="img" height="400px;" width="30%">


</section>



<div style="text-align: right; margin-right: 35%; font-size: 30px;color: blue;cursor: pointer; margin-top: 2%; ">
    <butto class="icon-print" id="details"  onclick="printform('print')"></butto>
</div>
<div style="display: flex;">
    <img src="/media/images/profile.png" alt="img" width="600px" height="800px" style="margin-left: 3%; ">
<form action="post" style="width: 30%; border: 1px solid black; margin-top: 1%;background: white; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);" id="print" >

    <h5 style="text-align: center">Profile of {{employee.employee_name}}</h5>
   <span><img src="{{employee.photo.url}}" alt="Img" height="100px" width="100px" style="border: 1px black solid; margin-left:18%; margin-top: 5% ;margin-bottom: 10%;"></span>



    <table width="100%" style="padding-bottom: 2%;">


          <tr ><td>Name </td><td>:</td><td>{{employee.employee_name}} </td></tr>
          <tr ><td>Designation </td><td>:</td><td>{{employee.designation}}</td></tr>
          <tr ><td>Phone </td><td>:</td><td>{{employee.phone}}</td></tr>
          <tr ><td>Email </td><td>:</td><td>{{employee.email}}</td></tr>
          <tr ><td>Qualification </td><td>:</td><td>{{employee.qualification}}</td></tr>
          <tr ><td>address</td><td>:</td><td>{{employee.address}}</td></tr>
          <tr ><td>Remarks</td><td>:</td><td>{{employee.remarks}}</td></tr>
          <tr ><td>Salary  </td><td>:</td><td>{{employee.salary }} INR</td></tr>
          <tr ><td>Status</td><td>:</td><td>{% if employee.Status %} Working {% else %} Left {% endif %}</td></tr>
          <tr ><td>Joining Date</td><td>:</td><td>{{employee.created}}</td></tr>
           <tr><td>Experience</td><td>:</td><td>{{ employee.created|calculate_experience }}</td></tr>




    </table>


    <h5 style="text-align: center">-- End Of Statement--</h5>
</form>
</div>






<script type="text/javascript">
    function printform(details) {
        var printContents = document.getElementById(details).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();

        // Restore the original contents after printing
        document.body.innerHTML = originalContents;
    }
</script>

<footer>
    <div style="background: #84aae3; text-align: center;color: white; margin-top: 2%; padding-top: 1%;padding-bottom: 1%;">
        <h3 >2023 All Rights Received</h3>
    </div>
</footer>
</body>
</html>